doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="initial-scale=1")
    title Hackidemia.pl - Rejestracja potwierdzona
    link(href="/static/css/style.css", rel="stylesheet")
  body
    div#main
      div.info--centered
        img.info__robot-image(src="/static/images/logo_robot_hackidemia.png")
        p Rejestracja została potwierdzona
        p Zapraszamy 11 lipca 2015 do Warsztatu Warszawskiego na Hackaton!
