doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="initial-scale=1")
    title Hackidemia.pl
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href="/static/css/style.css", rel="stylesheet")
    block head
  body
    block content
