extends layout
block content
  div#main
    div.info--centered
      i.fa.fa-frown-o.fa-3x
      p Błąd rejestracji.
      p 
        | Link, którego użyto wydaje się być nieprawidłowy. 
        a(href="/") Spróbuj ponownie.