extends layout
block content
  div#main
    div.info--centered
      img.info__robot-image(src="/static/images/logo_robot_hackidemia.png")
      p Niestety liczba dostępnych miejsca została wyczerpana.
      p Zgłoszenie zostało umieszczone na liście rezerwowej. W przypadku zwolnienia się miejsca na liście podstawowej skonatktujemy się z Państwem przez e-mail.
